/* Цвета */
:root {
  --background__promo-1: #849D8F;
  --background__promo-2: #8996A6;
  --background__promo-3: #9D8B84;

  --background__color-logo: #FBFCFB;
  --background__color-modal: #F8F7F4;

  --basic-white: #FFFFFF;
  --basic-black: #323232;

  --subscribe-text: #5A5A5A;
  --placeholders: #999999;

  --point--hover: #FBDED7;
  --point--active: #F6B5A5;
  --point--click: #EDEDED;
  --active-page: #D07058;

  --link--hover: #FFBC9E;
  --link--hover--saturate: #E84D37;
}
